{% extends 'app/base.html' %}{% load static %}
{% load sass_tags %}
{% load qr_code %}

{% block extra_css %}
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
    <!-- Plugins css Ends-->
{% endblock extra_css %}

{% block content %}
    <div class="page-body">
        {% include 'app/layout/breadcrumb.html' %}
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row starter-main">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5>Dashboard</h5>
                        </div>
                        <div class="card-body">
                            {% qr_from_text "Hello World!" size="m" image_format="png" error_correction="L" %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
    <script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
    <script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
    <!-- Plugins JS Ends-->
{% endblock extra_js %}